<div class="preloader">
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
</div>

<div class="preview-wrapper">
    <div class="switcher-head">
        <span>Style Switcher</span>
        <div class="switcher-trigger tf-tools"></div>
    </div>

    <div class="switcher-body">
        <h4>Choose Color:</h4>
        <ul class="color-options list-none">
            <li class="c0" data-color="red" title="Default">Default</li>
            <li class="c1" data-color="blue" title="Red">Red</li>
            <li class="c2" data-color="green" title="Green">Green</li>
            <li class="c3" data-color="yellow" title="Blue">Blue</li>
        </ul>
    </div>
</div>

<section class="site-wrapper">
    <div class="pt-table">
        <div class="pt-tablecell page-services relative">
            <a href="./" class="page-close"><i class="tf-ion-home" style="color: #FA6862;"></i></a>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                        <div class="page-title text-center">
                            <h2>Awesome <span class="primary">Services</span> <span class="title-bg">Services</span></h2>
                            <p>Here, I get to display to you a list of the awesome and exciting services I offer in this my line of profession. These are the few services I offer in order to get the best for you.</p>
                        </div>

                        <div class="hexagon-menu services clear">
                            <div class="service-hex">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                    <g>
                                        <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                        <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                    </g>
                                </svg>

                                <div class="content">
                                    <div class="icon">
                                        <i class="et-line icon-lightbulb"></i>
                                    </div>
                                    <h4>Creative <br> Design</h4>
                                    <p>I make use of digital and physical image making tools to create renders and representations used for marketing purposes.</p>
                                </div>
                            </div>
                            <div class="service-hex">

                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                    <g>
                                        <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                        <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                    </g>
                                </svg>
                                <div class="content">
                                    <div class="icon">
                                        <i class="et-line icon-mobile"></i>
                                    </div>
                                    <h4>Responsive <br> Layout</h4>
                                    <p>Here, I make sure that creating web pages actually looks good on all devices. It will automatically adjust itself for all different screen sizes.</p>
                                </div>
                            </div>
                            <div class="service-hex">

                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                    <g>
                                        <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                        <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                    </g>
                                </svg>
                                <div class="content">
                                    <div class="icon">
                                        <i class="et-line icon-profile-male"></i>
                                    </div>
                                    <h4>User <br> Friendly</h4>
                                    <p>I also specialize on creating a user friendly interface for everyone, no matter the audience. I just want you! my user to have a perfect user experience.</p>
                                </div>
                            </div>
                            <div class="service-hex">

                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                    <g>
                                        <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                        <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                    </g>
                                </svg>
                                <div class="content">
                                    <div class="icon">
                                        <i class="et-line icon-heart"></i>
                                    </div>
                                    <h4>Lovely <br> Animation</h4>
                                    <p>Do you also love animations, well, now you show know you could count on me.</p>
                                </div>
                            </div>
                            <div class="service-hex">

                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                    <g>
                                        <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                        <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                    </g>
                                </svg>
                                <div class="content">
                                    <div class="icon">
                                        <i class="et-line icon-hotairballoon"></i>
                                    </div>
                                    <h4>Ready to <br> launch</h4>
                                    <p>Here, I make sure that your product has passed through all the necessary approvals and has been timely delivered.</p>
                                </div>
                            </div>
                        </div>

                    </div> <!-- /.col-xs-12 -->

                </div> <!-- /.row -->
            </div> <!-- /.container -->

            <nav class="page-nav clear">
                <div class="container">
                    <div class="flex flex-middle space-between">
                        <span class="prev-page" style="cursor: pointer;"><a (click)="about()" class="link">&larr; About Page</a></span>
                        <span class="copyright hidden-xs">Copyright &copy; 2016 Phantom, All Rights Reserved.</span>
                        <span class="next-page" style="cursor: pointer;"><a (click)="resume()" class="link">Resume Page &rarr;</a></span>
                    </div>
                </div>
                <!-- /.page-nav -->
            </nav>
            <!-- /.container -->

        </div> <!-- /.pt-tablecell -->
    </div> <!-- /.pt-table -->
</section> <!-- /.site-wrapper -->