
        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <div class="preview-wrapper">
            <div class="switcher-head">
                <span>Style Switcher</span>
                <div class="switcher-trigger tf-tools"></div>
            </div>

            <div class="switcher-body">
                <h4>Choose Color:</h4>
                <ul class="color-options list-none">
                    <li class="c0" data-color="red" title="Default">Default</li>
                    <li class="c1" data-color="blue" title="Red">Red</li>
                    <li class="c2" data-color="green" title="Green">Green</li>
                    <li class="c3" data-color="yellow" title="Blue">Blue</li>
                </ul>
            </div>
        </div>

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-resume relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-home" style="color: #FA6862;"se></i></a>
                    <!-- /.close -->

                    

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>My <span class="primary">history</span> <span class="title-bg">Resume</span></h2>
                                    <p>Here, I've been able to add a list of the experiences I've acquired in the last couple of years. Also, I've included my Educational standards</p>
                                </div>
                            </div>
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="history-block">
                                    <div class="section-title light clear">
                                        <h3>Education</h3>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="history-scroller">
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-documents5"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Bright Stars Model College</h5>
                                                <span>2012 - 2017</span>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-documents5"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>University Of Jos</h5>
                                                <span>2018 - 2022</span>
                                                <p>Currently Undergoing an Undergraduate programme in the University of Jos <br> Studying Computer Sciences.</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                       
                                        <!-- /.history-item -->
                                        
                                        <!-- /.history-item -->
                                       
                                        <!-- /.history-item -->
                                    </div>
                                </div> <!-- /.history-block -->
                            </div> <!-- /.col -->
                            
                            <div class="col-xs-12 col-sm-6">
                                <div class="history-block">
                                    <div class="section-title light clear">
                                        <h3>Experiences</h3>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="history-scroller">
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-documents5"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Black Network</h5>
                                                <span>2021 - 2022</span>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-documents5"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Private Network</h5>
                                                <span>2023 - 2024</span>
                                                <p>Been working with the Private Network Company for over a year now <br> and have gained allot of experiences so far, so good.</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            
                                        </div>
                                        <!-- /.history-item -->
                                      
                                        <!-- /.history-item -->
                                       
                                        <!-- /.history-item -->
                                    </div>
                                </div> <!-- /.history-block -->
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page" style="cursor: pointer;"><a (click)="services()" class="link">&larr; Prev Page</a></span>
                                <span class="copyright hidden-xs">Copyright &copy; 2016 Phantom, All Rights Reserved.</span>
                                <span class="next-page" style="cursor: pointer;"><a (click)="works()">Next Page &rarr;</a></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->

  