<div class="preloader">
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
</div>

<div class="preview-wrapper">
    <div class="switcher-head">
        <span>Style Switcher</span>
        <div class="switcher-trigger tf-tools"></div>
    </div>

    <div class="switcher-body">
        <h4>Choose Color:</h4>
        <ul class="color-options list-none">
            <li class="c0" data-color="red" title="Default">Default</li>
            <li class="c1" data-color="blue" title="Red">Red</li>
            <li class="c2" data-color="green" title="Green">Green</li>
            <li class="c3" data-color="yellow" title="Blue">Blue</li>
        </ul>
    </div>
</div>

<main class="site-wrapper">
    <div class="pt-table">
        <div class="pt-tablecell page-quotes relative">
            <!-- .close -->
            <a href="./" class="page-close"><i class="tf-ion-home" style="color: #FA6862;"></i></a>
            <!-- /.close -->

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="page-title text-center">
                            <h2>My <span class="primary">clients</span><span class="title-bg">Speech</span></h2>
                            <p>These are the few number of clients I've actually worked for and would love to display them as a testimony to my skills.</p>
                        </div>
                    </div>                            
                </div> <!-- /.row -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="testimonials">
                            <div class="item clear">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url('assets/images/ultra.jpg');">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Adam Drigan</h4>
                                        <span>CEO, Ultra Solution</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>The CEO, Ultra Solutions have been one of the pleased clients I've actually worked for in the joint project for building his business app. </p>
                                </div>
                            </div>
                            <div class="item clear">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url('assets/images/sal.jpg');">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Brian Peddle</h4>
                                        <span>The General, The Salvation Army</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>The General of the Salvation Army is a fav Client . </p>
                                </div>
                            </div>
                            <div class="item clear">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url('assets/images/nin.jpg');">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4> Mr. Black</h4>
                                        <span>CEO, Black Network</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>It was so much fun working for the black company </p>
                                </div>
                            </div>
                          
                           
                           
                            
                        </div>
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->

            <nav class="page-nav clear">
                <div class="container">
                    <div class="flex flex-middle space-between">
                        <span class="prev-page" style="cursor: pointer;"><a (click)="works()" class="link">&larr; Works Page</a></span>
                        <span class="copyright hidden-xs">Copyright &copy; 2016 Phantom, All Rights Reserved.</span>
                        <span class="next-page" style="cursor: pointer;"><a (click)="contact()" class="link">Contact Page &rarr;</a></span>
                    </div>
                </div>
                <!-- /.page-nav -->
            </nav>
            <!-- /.container -->

        </div> <!-- /.pt-tablecell -->
    </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->

