<div class="preloader">
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
</div>

<div class="preview-wrapper">
    <div class="switcher-head">
        <span>Style Switcher</span>
        <div class="switcher-trigger tf-tools"></div>
    </div>

    <div class="switcher-body">
        <h4>Choose Color:</h4>
        <ul class="color-options list-none">
            <li class="c0" data-color="red" title="Default">Default</li>
            <li class="c1" data-color="blue" title="Red">Red</li>
            <li class="c2" data-color="green" title="Green">Green</li>
            <li class="c3" data-color="yellow" title="Blue">Blue</li>
        </ul>
    </div>
</div>

<main class="site-wrapper">
    <div class="pt-table">
        <div class="pt-tablecell page-works relative">
            <!-- .close -->
            <a href="./" class="page-close"><i class="tf-ion-home" style="color: #FA6862;">    </i></a>
            <!-- /.close -->

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="page-title text-center">
                            <h2>My <span class="primary">works</span> <span class="title-bg">works</span></h2>
                            <p>I have a list of the few works and projects I've been working on and would love to display some of them here.</p>
                        </div>
                    </div>                            
                </div> <!-- /.row -->

                <div class="row">
                    <div class="col-xs-12">
                        <ul class="filter list-inline">
                            <li><a href="#" class="active" data-filter="*">All</a></li>
                            <li><a href="#" data-filter=".Photoshop">Logic Apps</a></li>
                            <li><a href="#" data-filter=".Illustrator">Legality</a></li>
                            <li><a href="#" data-filter=".Indesign">Standard</a></li>
                            <li><a href="#" data-filter=".Artworks">Wonders</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row isotope-gutter">
                    <div class="col-xs-12 col-sm-6 col-md-4 Photoshop Illustrator">
                        <figure class="works-item">
                            <img src="assets/images/back.jpg" alt="">
                            <div class="overlay"></div>
                            <figcaption class="works-inner">
                                <h4>Budget Calculator</h4>
                                <p>Illustration, Digital Art</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 Illustrator">
                        <figure class="works-item">
                            <img src="assets/images/logo.png" alt="">
                            <div class="overlay"></div>
                            <figcaption class="works-inner">
                                <h4>Employee Management App</h4>
                                <p>Illustration, Digital Art</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 Indesign Photoshop">
                        <figure class="works-item">
                            <img src="assets/images/software.jpg" alt="">
                            <div class="overlay"></div>
                            <figcaption class="works-inner">
                                <h4>Online Banking System</h4>
                                <p>Illustration, Digital Art</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 Artworks Illustrator">
                        <figure class="works-item">
                            <img src="assets/images/glolrious.PNG" alt="">
                            <div class="overlay"></div>
                            <figcaption class="works-inner">
                                <h4>Design</h4>
                                <p>Illustration, Digital Art</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 Photoshop">
                        <figure class="works-item">
                            <img src="img/works/5.jpg" alt="">
                            <div class="overlay"></div>
                            <figcaption class="works-inner">
                                <h4>Project Name</h4>
                                <p>Illustration, Digital Art</p>
                            </figcaption>
                        </figure>
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->

            <nav class="page-nav clear">
                <div class="container">
                    <div class="flex flex-middle space-between">
                        <span class="prev-page" style="cursor: pointer;"><a (click)="resume()" class="link">&larr; Resume Page</a></span>
                        <span class="copyright hidden-xs">Copyright &copy; 2016 Phantom, All Rights Reserved.</span>
                        <span class="next-page" style="cursor: pointer;"><a (click)="testimonials()" class="link">Testimonials Page &rarr;</a></span>
                    </div>
                </div>
                <!-- /.page-nav -->
            </nav>
            <!-- /.container -->

        </div> <!-- /.pt-tablecell -->
    </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->